* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

p {
  color: grey;
}

.heading {
  color: #673ab7;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 16px;
}

#msform fieldset {
  background: whitesmoke;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  text-align: left;
  padding: 16px;
}

 #msform fieldset:not(:first-of-type) {
  display: none;
}

#msform select,
#msform input[type='number'],
#msform textarea {
  /* padding: 8px 15px 8px 15px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 2px;
  height: 1.95rem;
  width: 9.5rem;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 13.5px;
  letter-spacing: 0.5px;
  text-align: center !important;
}

#msform select:focus,
#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #673ab7 !important;
  outline-width: 0;
} 

#msform .action-button {
  width: 100px;
  background: #673ab7;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 5px;
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311b92;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.card {
  z-index: 0;
  border: 1px;
  position: relative;
}

.fs-title {
  font-size: 15px;
  display: inline;
  text-transform: uppercase;
  color: #673ab7;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: left;
}

#nice-message {
  text-align: center;
  color: green;
}

.purple-text {
  color: #673ab7;
  font-weight: normal;
}

.steps {
  /* display: flexbox;
  justify-content: flex-end;
  max-width: max-content; */

  font-size: 17px;
  color: gray;
  margin-bottom: 10px;
  /* font-weight: normal; */
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 20px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #673ab7;
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 250;
}

#progressbar #account:before {
  font-family: FontAwesome;
  font-size: 1.75rem;
  padding-top: 0.275rem;
  content: "\f1ec";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  font-size: 1.75rem;
  padding-top: 0.275rem;
  content: "\f3d1";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  font-size: 1.75rem;
  padding-top: 0.275rem;
  content: "\f093";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  font-size: 1.75rem;
  padding-top: 0.275rem;
  content: "\f2b5";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 40px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #673ab7;
}

.progress {
  height: 12px;
}

.progress-bar {
  background-color: #673ab7;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

label {
  display: block;
  font-size: 14.70px;
}

table {
  font-weight: 200;
  color: #616161;
  line-height: 1.2;
  font-size: 14.70px;
  margin: 0 auto
  /* column-span: 30px; */
}

table td:nth-child(2) {
  text-align: end;
  width: 5.5rem;
  /* color: red; */
}

table td:nth-child(1) {
  width: 8rem;
}

table tr:last-child {
  margin-top: 1rem;
  border-top: 2px solid darkgray;
  line-height: 1.75;
  /* font-size: 15.5px; */
  color: red;
}

div.price{
  border: 1.5px solid lightgray;
  width: 16rem;
  border-radius: 5px;
}