<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- BOOTSTRAP ICONS-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/a9722ef2fd.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/multi_step_form.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- SERVICES CIRCLE -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script> -->
    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="/img/logos/birrete.png"
      type="image/x-icon"
    />
    <title>Te hacemos la tarea!</title>
  </head>
  <body class="gradient">
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <span id="logo-container"
          ><img id="logo" src="/img/TELETAREAS_texto.png" alt="logo"
        /></span>
        <!-- <i class="fas fa-graduation-cap fa-2x"></i> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-door-fill "></i>Bienvenido</a>
                    </li> -->
            <li class="nav-item" style="min-width: 10.5rem">
              <a class="nav-link" href="#cards-margin"
                ><i class="bi bi-question-circle-fill"></i>Cómo trabajamos</a
              >
            </li>
            <li class="nav-item dropdown" style="min-width: 7rem">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-placement="bottom"
                title="Mira los servicios que ofrecemos para ayudarte"
              >
                <i class="bi bi-pencil-fill"></i>Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Tareas</a></li>
                <li><a class="dropdown-item" href="#">Tésis</a></li>
                <li><a class="dropdown-item" href="#">Asesorías</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-whatsapp"></i>0999534685</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item" style="min-width: 7rem">
              <a
                class="nav-link"
                id="contactos"
                href="#"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Escribenos a nuestro correo"
                ><i class="bi bi-envelope-open-fill"></i>Contactos</a
              >
            </li>
          </ul>
          <!-- OUTSIDE MAIN NAV -->
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.instagram.com/teletareas.xyz"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Compartir"
                ><i class="fab fa-instagram fa-2x"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.facebook.com/teletareas.xyz"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Compartir"
                ><i class="fab fa-facebook fa-2x"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.twitter.com/@teletareas"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Compartir"
                ><i class="fab fa-twitter fa-2x"></i
              ></a>
            </li>
          </ul>
          <!-- OUTSIDE MAIN NAV -->
          <!-- SEARCH BAR -->
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              style="width: 12rem"
            />
            <button class="btn btn-outline-primary" type="submit">
              Buscar
            </button>
          </form>
          <!-- SEARCH BAR -->
        </div>
      </div>
    </nav>
    <!-- NAVIGATION BAR -->

    <!-- CALCULATOR -->
    <div class="container-fluid" style="margin-top: 5.5rem">
      <div class="row justify-content-center align-items-start">
        <div class="col-md-6">
          <!-- MULTI STEP FORM -->
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="card p-3">
                <h2 class="heading">Haz tu Orden!</h2>
                <!-- <p>Llena cada campo requerido(*).</p> -->
                <form id="msform">
                  <!-- progressbar -->
                  <ul id="progressbar">
                    <li class="active" id="account">
                      <strong>Calcular tarifa</strong>
                    </li>
                    <li id="payment"><strong>Subir tarea</strong></li>
                    <li id="personal"><strong>Método de pago</strong></li>
                    <li id="confirm"><strong>Terminar</strong></li>
                  </ul>
                  <div class="progress">
                    <div
                      class="
                        progress-bar progress-bar-striped progress-bar-animated
                      "
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <br />

                  <!-- fieldsets: User data comes here -->
                  <span id="nice-message"
                    >Elige de acuerdo a tu prioridad!</span
                  >
                  <fieldset>
                    <div class="form-card">
                      <div class="row">
                        <div class="col-7">
                          <h3 class="fs-title">Información:</h3>
                        </div>
                        <div class="col-5">
                          <h2 class="steps">Paso 1 - 4</h2>
                        </div>
                      </div>
                      <!-- Nivel educativo -->
                      <div class="row justify-content-center">
                        <div class="col-sm-5" justify-content-center>
                          <ol style="margin-bottom: 0">
                            <li>
                              <label for="level"
                                >Elige un nivel académico:</label
                              >
                              <select
                                id="level"
                                name="academic_level"
                                required
                                class="form-select parameter"
                                aria-label="Default select example"
                              >
                                <!-- <option selected>Nivel educativo</option> -->
                                <option value="escuela">Escuela</option>
                                <option value="colegio">Colegio</option>
                                <option value="universidad" selected>
                                  Universidad
                                </option>
                                <option value="posgrado">Posgrado</option>
                              </select>
                            </li>
                            <li>
                              <label for="time">Urgencia:</label>
                              <select
                                id="time"
                                name="time"
                                required
                                class="form-select parameter"
                                aria-label="Default select example"
                              >
                                <!-- <option selected>Nivel educativo</option> -->
                                <option value="4">4 horas</option>
                                <option value="6">6 horas</option>
                                <option value="12">12 horas</option>
                                <option value="24" selected>24 horas</option>
                                <option value="48">2 dias</option>
                                <option value="72">3 dias</option>
                                <option value="96">4 dias</option>
                                <option value="120">5 dias</option>
                                <option value="144">6 dias</option>
                                <option value="168">7 dias</option>
                                <option value="336">2 semanas</option>
                                <option value="504">3 semanas</option>
                              </select>
                            </li>
                            <li>
                              <label for="pages">Número de páginas?</label>
                              <input
                                class="parameter"
                                required
                                type="number"
                                name="page_quantity"
                                value="1"
                                id="pages"
                                min="1"
                              />
                              <!-- <label for="customRange1" class="form-label">Example range</label> -->
                              <!-- <input type="range" class="form-range" id="pages"> -->
                            </li>
                          </ol>
                        </div>
                        <!-- <div class="col-sm-1"></div> -->
                        <div class="col-sm-5">
                          <ol start="4">
                            <li>
                              <label>Dificultad de la tarea:</label>
                            </li>
                              <div class="form-check form-check-inline">
                                <input
                                  type="radio"
                                  value="normal"
                                  class="form-check-input parameter"
                                  name="difficulty"
                                  id="normal"
                                  checked
                                />
                                <label class="form-check-label" for="normal">
                                  Normal
                                </label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input
                                  type="radio"
                                  value="dificil"
                                  class="form-check-input parameter"
                                  name="difficulty"
                                  id="dificil"
                                />
                                <label class="form-check-label" for="dificil">
                                  Difícil
                                </label>
                              </div>
                          </ol>
                          <!-- <ul class="parameter radio-buttons">
                                <li>
                                </li>
                              </ul> -->
                          <div class="card price">
                            <h2
                              class="card-header heading"
                              style="background-color: #eceff1; margin-bottom: 0;"
                            >
                              Total
                            </h2>
                            <div class="card-body">
                                <table>
                                  <tr>
                                    <td>Nivel académico:</td>
                                    <td> _ _</td>
                                  </tr>
                                  <tr>
                                    <td>Tiempo de entrega:</td>
                                    <td> _ _</td>
                                  </tr>
                                  <tr>
                                    <td>Nº de páginas:</td>
                                    <td> 1</td>
                                  </tr>
                                  <tr>
                                    <td>Dificultad:</td>
                                    <td>normal</td>
                                  </tr>
                                  <tr>
                                    <td>Descuento <span id="porcentage">(%)</span>:</td>
                                    <td>  0</td>
                                  </tr>
                                  <tr>
                                    <td>Total:</td>
                                    <td>$ _ _</td>
                                  </tr>
                                </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input
                      type="button"
                      name="next"
                      class="next action-button"
                      value="continuar"
                    />
                  </fieldset>

                  <fieldset>
                    <div class="form-card">
                      <div class="row">
                        <div class="col-7">
                          <h3 class="fs-title">Sube tu tarea:</h3>
                        </div>
                        <div class="col-5">
                          <h2 class="steps">Paso 2 - 4</h2>
                        </div>
                      </div>
                      <label class="fieldlabels">Sube un archivo:</label>
                      <input type="file" name="pic" accept="image/*" />
                      <label class="fieldlabels">Sube más:</label>
                      <input type="file" name="pic" accept="image/*" />
                    </div>
                    <input
                      type="button"
                      name="next"
                      class="next action-button"
                      value="Submit"
                    />
                    <input
                      type="button"
                      name="previous"
                      class="previous action-button-previous"
                      value="Previous"
                    />
                  </fieldset>
                  <fieldset>
                    <div class="form-card">
                      <div class="row">
                        <div class="col-7">
                          <h2 class="fs-title">Método de pago:</h2>
                        </div>
                        <div class="col-5">
                          <h2 class="steps">Paso 3 - 4</h2>
                        </div>
                      </div>
                      <!-- METODOS DE PAGO -->

                      <!-- METODOS DE PAGO -->
                    </div>
                    <input
                      type="button"
                      name="next"
                      class="next action-button"
                      value="next"
                    />
                    <input
                      type="button"
                      name="previous"
                      class="previous action-button-previous"
                      value="Previous"
                    />
                  </fieldset>
                  <fieldset>
                    <div class="form-card">
                      <div class="row">
                        <div class="col-7">
                          <h2 class="fs-title">Finish:</h2>
                        </div>
                        <div class="col-5">
                          <h2 class="steps">Step 4 - 4</h2>
                        </div>
                        <h2>Hola mundo</h2>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              <!-- </div> -->
            </div>
          </div>
          <!-- MULTI STEP FORM -->
        </div>

        <!-- PAYMENTS -->
        <div class="col-md-4">
          <div class="container py-5">
            <div class="row">
              <div class="bg-white rounded-lg shadow-sm p-5">
                <!-- Credit card form tabs -->
                <ul
                  role="tablist"
                  class="nav bg-light nav-pills rounded-pill nav-fill mb-3"
                >
                  <li class="nav-item">
                    <a
                      data-bs-toggle="pill"
                      href="#nav-tab-card"
                      class="nav-link active rounded-pill"
                    >
                      <i class="fa fa-credit-card"> </i>
                      Tarjeta de débito o crédito
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      data-bs-toggle="pill"
                      href="#nav-tab-paypal"
                      class="nav-link rounded-pill"
                    >
                      <i class="fa fa-paypal"> </i>
                      Paypal
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      data-bs-toggle="pill"
                      href="#nav-tab-bank"
                      class="nav-link rounded-pill"
                    >
                      <i class="fa fa-university"> </i>
                      Transferencia
                    </a>
                  </li>
                </ul>
                <!-- Credit card form tabs -->

                <!-- Credit card form content -->
                <div class="tab-content">
                  <!-- credit card info-->
                  <div id="nav-tab-card" class="tab-pane fade show active">
                    <p class="alert alert-success">
                      Some text success or error
                    </p>
                    <form role="form">
                      <div class="form-group">
                        <label for="username">Full name (on the card)</label>
                        <input
                          type="text"
                          name="username"
                          placeholder="Jason Doe"
                          required
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                        <label for="cardNumber">Card number</label>
                        <div class="input-group">
                          <input
                            type="text"
                            name="cardNumber"
                            placeholder="Your card number"
                            class="form-control"
                            required
                          />
                          <div class="input-group-append">
                            <span class="input-group-text text-muted">
                              <i class="fa fa-cc-visa mx-1"></i>
                              <i class="fa fa-cc-amex mx-1"></i>
                              <i class="fa fa-cc-mastercard mx-1"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          <div class="form-group">
                            <label
                              ><span class="hidden-xs">Expiration</span></label
                            >
                            <div class="input-group">
                              <input
                                type="number"
                                placeholder="MM"
                                name=""
                                class="form-control"
                                required
                              />
                              <input
                                type="number"
                                placeholder="YY"
                                name=""
                                class="form-control"
                                required
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group mb-4">
                            <label
                              data-toggle="tooltip"
                              title="Three-digits code on the back of your card"
                              >CVV
                              <i class="fa fa-question-circle"></i>
                            </label>
                            <input type="text" required class="form-control" />
                          </div>
                        </div>
                      </div>
                      <button
                        type="button"
                        class="
                          subscribe
                          btn btn-primary btn-block
                          rounded-pill
                          shadow-sm
                        "
                      >
                        Confirm
                      </button>
                    </form>
                  </div>
                  <!-- End -->

                  <!-- Paypal info -->
                  <div id="nav-tab-paypal" class="tab-pane fade">
                    <p>Paypal is easiest way to pay online</p>
                    <p>
                      <button
                        type="button"
                        class="btn btn-primary rounded-pill"
                      >
                        <i class="fa fa-paypal mr-2"></i> Log into my Paypal
                      </button>
                    </p>
                    <p class="text-muted">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                  <!-- End -->

                  <!-- bank transfer info -->
                  <div id="nav-tab-bank" class="tab-pane fade">
                    <h6>Bank account details</h6>
                    <dl>
                      <dt>Bank</dt>
                      <dd>THE WORLD BANK</dd>
                    </dl>
                    <dl>
                      <dt>Account number</dt>
                      <dd>7775877975</dd>
                    </dl>
                    <dl>
                      <dt>IBAN</dt>
                      <dd>CZ7775877975656</dd>
                    </dl>
                    <p class="text-muted">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                  </div>
                  <!-- End -->
                </div>
                <!-- End -->
              </div>
            </div>
          </div>
          <!-- PAYMENTS -->
        </div>
      </div>
    </div>

    <!-- SCRIPT -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/multi_step_form.js"></script>
  </body>
</html>
